{% extends 'layout.jinja2.html' %}
{% block title %}Latest News{% endblock %}
{% block body %}
    <table>
        <thead>
            <tr>
                <th>Score</th>
                <th>Link</th>
                <th>Published</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row.score }}</td>
                    <td><a href="{{ row.link }}">{{ row.title }}</a></td>
                    <td>just now</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
